* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; /*removes default bullets points or number*/
    text-decoration: none;
 }

body {
    background-color: whitesmoke;
    color: black;
    line-height: 1.6;
}

header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header h1 a{
    font-size: 2rem;
    color: black
 }

 nav {
    display: flex;
    gap: 40px;
 }

 nav a{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
 }

 nav a:hover{
    color: rgb(175, 28, 175);
 }

 .email a {
    color: #6C63FF;
    position: relative;
 }

 .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 40px;
    gap: 100px;
 }
 
 .home-left img {
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(1, 1, 1, 0.1);
 }

 .home-right h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
 }

 .home-right p {
    font-size: medium;
    line-height: 2rem;
    max-width: 700px;
 }

 .socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
 }

 .socials a {
    font-size: 25px;
    color: black;
    transition: 0.3s;
 }

.socials a:hover {
    color: #6C63FF;
    transform: translateY(-4px);
 }

 footer {
    text-align: center;
    padding: 30px 0;
    color: rgb(55, 48, 38);
    font-size: 1rem;
    margin-top: 50px;
 }



