* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; /*removes default bullets points or number*/
    text-decoration: none;
 }

body {
    background-color: whitesmoke;
    color: black;
    line-height: 1.6;
    background-image: url("../images/Z Logo Emas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7); 
    background-blend-mode: overlay;
}

header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 main {
    max-width: 1024px;
 }

 header h1 a{
    font-size: 2rem;
    color: black
 }

 nav {
    display: flex;
    gap: 40px;
 }

 nav a{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
 }

 nav a:hover{
    color: rgb(175, 28, 175);
 }

 .email a {
    color: #6C63FF;
    position: relative;
 }

 .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 40px;
    gap: 100px;
 }
 
 .home-left img {
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(1, 1, 1, 0.1);
 }

 .home-right h1 {
    line-height: 4rem;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
 }

 .home-right p {
    font-size: medium;
    line-height: 2rem;
    max-width: 700px;
 }

 .socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
 }

 .socials a {
    font-size: 25px;
    color: black;
    transition: 0.3s;
 }

.socials a:hover {
    color: #6C63FF;
    transform: translateY(-4px);
 }

 footer {
    text-align: center;
    padding: 30px 0;
    color: rgb(55, 48, 38);
    font-size: 1rem;
    margin-top: 50px;
 }

.about-page {
    margin: auto;
    padding: 80px 50px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 70px 30px;
}
 .about-hero h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
 }

 .about-hero p {
    font-size: 1.2rem;
    line-height: 2rem;

 }

.about-img img{
    border-radius: 50px;
    object-fit: cover;
    width: 50vw;
}

.about-bio p {
    line-height: 1.7;
    font-size: 1.2rem;
}

.about-bio a {
    color: #6C63FF;
    text-decoration: underline;
}

.about-photos h2 {
    font-size: 2rem;
}

.about-photos h3 {
    margin: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}
 
.photo-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: 0.3s ease;
}

.photo-grid img:hover {
    transform: scale(1.05);
}


 .latest-project {
    margin-top: 80px;
    text-align: center;
 }

 .latest-project small {
    letter-spacing: 3px;
    color: #6C63FF;
    font-weight: bold;
 }

 .latest-project h1 {
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
}

.latest-project a {
    color: black;
    transition: 0.5;
}

.latest-project a:hover {
    color: #6C63FF;
}

.learning-journey{
    margin-top: 50px;
    text-align: center;
}

.learning-journey h2 {
    color: #6C63FF;
    font-size: 20px;
    letter-spacing: 3px;
}

.learning-journey table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
    max-width: 700px;
    font-size: 16px;
}

.learning-journey th,
.learning-journey td {
    border: 1px solid #ccc;
    padding: 5px;
}

.learning-journey thead {
    background-color: #6C63FF;
    color: white;
}

#backgrounds {
    margin: 40px;
}

.form-header {
    text-align: center;
    margin-top: 10px;
}

.form-contents {
    border: 2px solid #6C63FF;
    margin: 30px;
    border-radius: 20px;
    padding: 30px;
    background: #fffff;
}

.form-subtance {
    margin: 20px;
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 15px;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* TABLET */
@media (max-width: 1024px) {
    .home {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .home-right {
        text-align: center;
        width: 100%;
    }

    .home-right h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .home-right p {
        margin: 0 auto;
        max-width: 750px;
    }

    .home-left img {
        width: 350px;
    }

    .socials {
        display: flex;
        justify-content: center;
    }

    nav {
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* HP */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .home {
        padding: 40px 20px;
        gap: 30px;
    }

    .home-right h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .home-left img {
        width: 70vw;
    }

    .about-me {
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
        text-align: center; 
        padding: 0;
        margin-bottom: 30px;
    }

    .about-img img {
        width: 80vw;
    }

}

/* HP KECIL */
@media (max-width: 480px) {
    header h1 a {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 0.9rem;
    }

    .home-right h1 {
        font-size: 1.6rem;
    }

    .home-left img {
        width: 200px;
    }
}
